@font-face {
    font-family: 'apercu_probold';
    src: url('../fonts/apercupro-bold-webfont.eot');
    src: url('../fonts/apercupro-bold-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/apercupro-bold-webfont.woff2') format('woff2'),
         url('../fonts/apercupro-bold-webfont.woff') format('woff'),
         url('../fonts/apercupro-bold-webfont.ttf') format('truetype'),
         url('../fonts/apercupro-bold-webfont.svg#apercu_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercu_proregular';
    src: url('../fonts/apercupro-regular-webfont.eot');
    src: url('../fonts/apercupro-regular-webfont-.eot#iefix') format('embedded-opentype'),
         url('../fonts/apercupro-regular-webfont.woff2') format('woff2'),
         url('../fonts/apercupro-regular-webfont.woff') format('woff'),
         url('../fonts/apercupro-regular-webfont.ttf') format('truetype'),
         url('../fonts/apercupro-regular-webfont.svg#apercu_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
